
<div class="modal-newgroup">
    <div class="modal-header">
        <div class="modal-title">
            <h4 class="modal-title">Contacts</h4>
            <div class="search">
                <span class="material-icons">search</span>
                <mat-form-field class="example-full-width">
                <mat-label>Search contact</mat-label>
                <input [(ngModel)]="search" matInput >
                </mat-form-field>
            </div>
           <hr>
           <div id="userlist">
            <ul >
                <li class="active" *ngFor="let contact of contactform | search:search let i = index" 
                (click)="setIndex(i)"  [class.active]="selectedIndex === i"  >
                    <div class="avatar">
                        <a class="gavatar">
                            <span class="sign" *ngIf="contact['sign']; else image">{{contact['sign']}}</span>
                            <ng-template #image>
                                <img  [src]="contact['url']">
                            </ng-template> 
                        </a>
                        <span class="name" style="color: black;">{{contact['user']['name']}}</span>
                    </div>
                  
                </li>
            </ul>
        </div>
              <div class="btn-group">
              <button mat-raised-button color="primary"(click)="createContact()">Create</button>
              <button mat-raised-button color="primary" (click)="activeModal.close('Close')">Cancel</button>
            </div>
          
        </div>
    </div>
</div>
