<h4>List of files</h4>

<div>
    <ul>
        <li (click)="selectFile(file.url,file.id,i,file.type)" *ngFor="let file of files; let i=index"    >
            <img [src]="file['url']" [class.active]="selectedIndex === i">
        </li>
    </ul>
</div>
<div class="btn-group">
    <button mat-raised-button color="primary" (click)="sendFile()">Send File</button>
    <button mat-raised-button color="primary" (click)="deleteFile()">Delete</button>
    <button mat-raised-button color="primary" (click)="activeModal.close('Close')">Cancel</button>
</div>
