<div class="container">
    <div class="row">
      <div col-12>
        <section class="menuWrap">
          <div class="menu">
            <div class="me userBg">
              <div class="image"></div>
              <div class="myinfo">
              <p class="name">Random Name</p>
              <p class="phone">+1 12 1234 5678</p>
              </div>
              <button class="cloud">
                <i class="material-icons">bookmark</i>
              </button>
            </div>
            <nav>
              <button class="ng" (click)="showModalForNewGroup()">
                <i class="material-icons">&#xE8D3;</i>
                <span>New Group</span>
              </button>

              <button class="nc">
                <i class="material-icons">&#xE0B6;</i>

                <span>New Channel</span>
              </button>

              <button class="cn">
                <i class="material-icons">&#xE851;</i>

                <span>Contacts</span>
              </button>

              <button class="cl">
                <i class="material-icons">&#xE0B0;</i>

                <span>Calls History</span>
              </button>

              <button class="lo">
                <i class="material-icons">settings</i>
                <span>Settings</span>
              </button>

              <a>
              <button class="faq">
                <i class="material-icons">brightness_2</i>

                <span>Night mode</span>
              </button>
              </a>

            </nav>

            <div class="info">
            <p>Telegram Web</p>
            <p>Ver 0.0.2 - <a href="https://en.wikipedia.org/wiki/Telegram_(messaging_service)">About</a></p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
