<div class="modal-newgroup">
    <div class="modal-header">
        <div class="modal-title">
            <div class="title">
                <button class="tbButton" (click)="back()" >
                    <i class="material-icons">keyboard_backspace</i>
                </button>
                <h4 class="modal-title">Info</h4>
                <button class="tbButton otherOptions" (click)="close()" >
                    <i class="material-icons">clear</i>
                </button>
            </div> 
        </div>
    </div>
    <div class="search">
    <button class="tbButton" >
        <i class="material-icons">search</i>
    </button>
    <mat-form-field class="example-form-field">
        <mat-label>Search name</mat-label>
        <input matInput type="text" >
      </mat-form-field>
    </div>
    <hr>
   <div class="list">

   </div>
     
      
    </div>



