li{
    list-style-type: none;
    margin-top: 5px;
    color: black;
    padding: 5px;
}
.time{
    margin-left:80%;
    display: inline-block;
    margin-right: 3px;
}
app-modal{
    width: 300px;
    height: 200px;
}
.left{
    float: left;
    background-color: white;
    height: auto;
    min-width:60%;
    border-radius: 5px;
    margin-bottom: 10px;   
}
.right{
    float: right;
    background-color: white;
    height: auto;
    min-width:60%;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
.text{
    margin-left: 10px;;
}