<div class="modal-newgroup">
    <div class="modal-header">
        <div class="modal-title">
           
            <div class="title">
                <button class="tbButton" (click)="back()" >
                    <i class="material-icons">keyboard_backspace</i>
                </button>
                <h4 class="modal-title">Info</h4>
                <button class="tbButton otherOptions" (click)="close()" >
                    <i class="material-icons">clear</i>
                </button>
            </div> 
        </div>
    </div>
 
    <div class="mefor">
        <img   class="image" *ngIf="user['user']['photo']!==''; else photo"  src="../../../assets//devimages//shutter-1237250_640.png">
        <ng-template #photo><img class="image" src="user['user']['photo']"></ng-template>
        <div class="myinfo">
        <p class="name">{{user['user']['name']}}</p>
        </div>
        <div class="upload-btn-wrapper">
            <button type="button"  target="_blank" class="themeBtn btnn">SET PROFILE PHOTO</button>
            <input class="inputfile" type="file" name="myfile" (change)="onFileUpload($event)" />
            <div>
                <img class="image" [src]="imagePrevie" *ngIf="imageView" >
                <div *ngIf="imageView">
                    <button  mat-button color="primary" (click)="setImageAvatar()">Ok</button>
                    <button  mat-button color="primary" (click)="clearImage()">Cancel</button>
                </div>
            </div>
           
           
        </div>
      </div>
      <div class="userInfo">
            <mat-icon>perm_identity</mat-icon>
            <span class="userName">{{user['user']['name']}}</span>
            <div class="label">
                <mat-label>Name</mat-label>
            </div>
            <mat-icon>call</mat-icon>
            <span class="userPhone">{{user['user']['phone']}}</span>
            <div class="label">
                <mat-label>Phone</mat-label>
            </div>
            
      </div>
      
    </div>


