<div class="container-fluid">
  <div class="mainApp row">
    <div class="leftPanel col-3">
      <header>
        <button class="trigger" (click)="opened = !opened">
          <svg viewBox="0 0 24 24">
            <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"></path>
          </svg>
        </button>
        <input
          class="searchChats"
          [(ngModel)]="searchfield"
          type="search"
          placeholder="Search..."
        />
      </header>
      <div class="chats">
        <mat-sidenav-container class="left-menu">
          <h1 style="color: black !important;">Hello</h1>
          <mat-sidenav mode="over" [(opened)]="opened">
            <app-left-side-card></app-left-side-card>
          </mat-sidenav>
          <mat-sidenav-content>
            <app-contact [searchfield]="searchfield"></app-contact>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
    </div>

    <div class="rightPanel col-9">
      <div class="topBar" *ngIf="!selected; else select">
        <!--bar top-->
        <div class="rightSide">
          <button class="tbButton search">
            <i class="material-icons">call</i>
          </button>
          <button class="tbButton search">
            <i class="material-icons">&#xE8B6;</i>
          </button>
          <button class="tbButton search" (click)="informed = !informed">
            <i class="material-icons">flip</i>
          </button>
          <button class="tbButton otherOptions" [matMenuTriggerFor]="menu">
            <i class="material-icons">more_vert</i>
          </button>
          <button class="tbButton otherOptions" [matMenuTriggerFor]="menu">
            <i class="material-icons" (click)="exit()">exit_to_app</i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>View profile</span>
            </button>
            <button mat-menu-item>
              <mat-icon>block</mat-icon>
              <span>Disable notifications</span>
            </button>
            <button mat-menu-item>
              <mat-icon>add</mat-icon>
              <span>Add to contact</span>
            </button>
            <button mat-menu-item>
              <mat-icon>supervisor_account</mat-icon>
              <span>Share contact</span>
            </button>
            <button mat-menu-item>
              <mat-icon>import_export</mat-icon>
              <span>Export chart history</span>
            </button>
            <button mat-menu-item>
              <mat-icon>delete_outline</mat-icon>
              <span>Delete chat</span>
            </button>
            <button mat-menu-item>
              <mat-icon>clear</mat-icon>
              <span>Clear history</span>
            </button>
            <button mat-menu-item>
              <mat-icon>report_off</mat-icon>
              <span>Block user</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <!--bar with message select-->
      <ng-template #select>
        <div class="messegeselectBar">
          <div class="btn-group" role="group">
            <button mat-raised-button color="primary" (click)="forward()">
              Forward
            </button>
            <button mat-raised-button color="primary" (click)="deleteMessage()">
              Delete
            </button>
          </div>
          <button class="right" mat-button color="primary" (click)="cancel()">
            Cancel
          </button>
        </div>
      </ng-template>

      <div class="row">
        <div class="col-12">
          <mat-sidenav-container class="example-container">
            <mat-sidenav mode="over" position="end" [(opened)]="informed">
              <div class="contact-card">
                <p class="infotext">User info</p>
                <div class="contact-card__header-image">
                  <div class="contact-card__avatar">
                    <img
                      src="https://avatarko.ru/img/kartinka/9/muzhchina_kapyushon_serial_8126.jpg"
                    />
                  </div>
                </div>
                <p class="name">Random Name</p>
                <hr />
                <div class="someinfo">
                  <div class="icon">
                    <mat-icon>info</mat-icon>
                  </div>
                  <div>
                    <div class="phone">
                      <span class="someinfo">+380962773245</span>
                      <div class="text">
                        <span>Mobile</span>
                      </div>
                    </div>
                    <div class="phone">
                      <span>@someusername</span>
                      <div class="text">
                        <span class="someinfo">Username</span>
                      </div>
                    </div>
                    <div class="add">
                      <a>ADD TO CONTACT</a>
                    </div>
                    <div class="notification">
                      <mat-icon>notifications_none</mat-icon>
                      <span
                        ><a (click)="checked = !checked">Notification</a></span
                      >
                      <mat-slide-toggle
                        [color]="color"
                        [checked]="checked"
                        [disabled]="disabled"
                      >
                      </mat-slide-toggle>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="addphotos">
                  <mat-icon>photo_size_select_actual</mat-icon>
                  <span><a>5 photos</a></span>
                </div>
                <div class="link">
                  <mat-icon>insert_link</mat-icon>
                  <span><a>5 shared links</a></span>
                </div>
              </div>
              <hr />
              <div class="listblock">
                <div class="list">
                  <mat-icon>format_list_bulleted</mat-icon>
                  <span><a>Share contact</a></span>
                  <span><a>Clear history</a></span>
                  <span><a>Delete chat</a></span
                  ><br />
                  <br />
                  <span class="del"><a>Block user</a></span>
                </div>
              </div>
            </mat-sidenav>

            <mat-sidenav-content>
              <section class="sec">
                <div class="convHistory userBg">
                  <!-- сообщения подключить после логики -->
                  <app-messages
                    (messageText)="messageContent($event)"
                  ></app-messages>
                </div>
                <!--отправка сообщений-->
                <div class="replyBar" *ngIf="!messageForEdit; else edit">
                  <button class="attach" (click)="attachFile()">
                    <i class="material-icons d45">attach_file</i>
                  </button>
                  <input
                    #text
                    (click)="showArray()"
                    (keyup.enter)="sendMessage(text.value)"
                    type="text"
                    class="form-control"
                    class="replyMessage"
                    placeholder="Type your message... "
                  />

                  <div class="otherTools">
                    <button class="toolButtons emoji">
                      <i class="material-icons">face</i>
                    </button>

                    <button
                      type="button"
                      (click)="sendMessage(text.value)"
                      class="toolButtons audio"
                      *ngIf="show; else mic"
                    >
                      <i class="material-icons arrow">near_me</i>
                    </button>

                    <ng-template #mic>
                      <button class="toolButtons audio">
                        <i class="material-icons">mic</i>
                      </button>
                    </ng-template>
                  </div>
                </div>
                <!--редактирование сообщений -->
                <ng-template #edit>
                  <div class="replyBar">
                    <button class="attach" (click)="attachFile()">
                      <i class="material-icons d45">attach_file</i>
                    </button>
                    <input
                      #edittext
                      [value]="messageForEdit"
                      (click)="showArray()"
                      (keyup.enter)="editMessage(edittext.value)"
                      type="text"
                      class="form-control"
                      class="replyMessage"
                      placeholder="Edit  your message... "
                    />
                    <div class="otherTools">
                      <button class="toolButtons emoji">
                        <i class="material-icons">edit</i>
                      </button>

                      <button
                        type="button"
                        (click)="editMessage(edittext.value)"
                        class="toolButtons audio"
                        *ngIf="show; else mic"
                      >
                        <i class="material-icons arrow">near_me</i>
                      </button>

                      <ng-template #mic>
                        <button class="toolButtons audio">
                          <i class="material-icons">mic</i>
                        </button>
                      </ng-template>
                    </div>
                  </div>
                </ng-template>
              </section>
            </mat-sidenav-content>
          </mat-sidenav-container>
        </div>
      </div>
    </div>
  </div>
</div>
