<div id="userlist">
    <ul >
        <li *ngFor="let contact of contactform | search:searchfield" (click)="getAllMessage(contact.id)">
            <div class="avatar">
                <a class="gavatar">
                    <span *ngIf="initialAvatarText; else image">{{initialAvatarText}}</span>
                    <ng-template #image>
                        <img  src="initialAvatarImage">
                    </ng-template> 
                </a>
                <span style="color: black;">{{contact.user.name}}</span>
            </div>
             <div class="time">
                <span>{{contact.updated |  date:'hh:mm' }}</span>
             </div>    
        </li>
    </ul>
</div>

