<div id="userlist">
    <ul >
        <li class="active" *ngFor="let contact of contactform | search:searchfield; let i = index" 
        (click)="getAllMessage(contact.user_id);setIndex(i)"  [class.active]="selectedIndex === i"  >
            <div class="avatar">
                <a class="gavatar">
                    <span *ngIf="initialAvatarText; else image">{{contact.sign}}</span>
                    <ng-template #image>
                        <img  [src]="initialAvatarImage">
                    </ng-template> 
                </a>
                <span style="color: black;">{{contact.user.name}}</span>
            </div>
             <div class="time">
                <span>{{contact.updated |  date:'hh:mm' }}</span>
             </div>    
        </li>
    </ul>
</div>

