<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <div class="auth-wrapper">
      <form class="form-register" [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <h3 class="h3 mb-3 font-weight-normal text-center">{{ 'Registration' | translate }}</h3>
        <div class="alert alert-danger {{authService.lastError ? '' : 'hidden'}}">{{authService.lastError}}</div>
        <div class="form-group">
          <label>{{'Login' | translate}}</label>
          <input type="text" class="form-control" formControlName="login" placeholder="{{ 'Enter login' | translate }}" required>
        </div>
        <div class="form-group">
          <label>{{ 'Password' | translate }}</label>
          <input type="password" class="form-control" formControlName="password" placeholder="{{ 'Enter password' | translate }}" required>
        </div>
        <div class="form-group">
          <label>{{ 'Name' | translate }}</label>
          <input type="text" class="form-control" formControlName="name" placeholder="{{ 'Enter name' | translate }}">
        </div>
        <div class="form-group">
          <label>{{ 'Email address' | translate }}</label>
          <input type="email" class="form-control" formControlName="email" placeholder="{{ 'Enter email' | translate }}">
        </div>
        <div class="form-group">
          <label>{{ 'Phone' | translate }}</label>
          <input type="email" class="form-control" formControlName="phone" placeholder="{{ 'Enter phone' | translate }}">
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a routerLink="/login" routerLinkActive="active">{{ 'Authorization' | translate }}</a><br/>
            <a routerLink="/restore-password" routerLinkActive="active">{{ 'Restore password' | translate }}</a><br/>
          </div>
          <div class="col-lg-6">
            <button type="submit" class="btn btn-block btn-primary">{{ 'Register!' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-3">
    <app-language-switcher></app-language-switcher>
  </div>
</div>
